<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <%- partial('partial/head') %>
</head>
<body>
  <div class="main-container">
    <%- partial('partial/timeline') %>
    <div class="tracks-container">
      <%- partial('partial/single-track') %>
      <%- partial('partial/multi-track') %>
    </div>
  </div>
  
  <%- partial('partial/lightbox') %>
  <%- partial('partial/scripts') %>
</body>
</html>
